body {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 100%;
  background-color: antiquewhite;
}

.button {
  border-radius: 20px;
  width: 70px;
  height: 30px;
  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-yellow {
  background-color: yellow;
}

.button-yellow:hover {
  background-color: blueviolet;
}

.button-gray {
  background-color: gray;
}

.button-gray:hover {
  filter: brightness(85%);
}
